@charset "UTF-8";

nav ul li.main_menu:nth-child(4)>a {
  color: #009223;
}

/* 메인 */
#main .m_inner .promise {
  background-color: #F7FAFE;
}

#main .m_inner .promise .pr_inner .pr_title {
  text-align: center;
  padding-top: 50px;
  font-weight: 500;
  margin-top: 95px;
  margin-bottom: 50px;
}

#main .m_inner .promise .pr_inner .pr_title h2 {
  font-size: 30px;
  font-weight: 900;
  color: #62CE08;
  letter-spacing: -2px;
}

#main .m_inner .promise .pr_inner .pr_title span {
  color: #009223;
}

#main .m_inner .promise .pr_inner .pr_container {
  margin: 0;
}

#main .m_inner .promise .pr_inner .pr_container .pr_1:nth-child(4) {
  padding-bottom: 100px;
}

#main .m_inner .promise .pr_inner .pr_container .pr_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#main .m_inner .promise .pr_inner .pr_container .pr_1:nth-of-type(even) {
  flex-direction: row-reverse;
}

#main .m_inner .promise .pr_inner .pr_container .pr_1 .pr_img,
#main .m_inner .promise .pr_inner .pr_container .pr_1 .pr_img img {
  height: 420px;
  width: 600px;
}

#main .m_inner .promise .pr_inner .pr_container .pr_1 .pr_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 420px;
  width: 600px;
}

#main .m_inner .promise .pr_inner .pr_container .pr_1 .pr_text .pr_htext {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #292929;
}

#main .m_inner .promise .pr_inner .pr_container .pr_1 .pr_text .pr_htext .ico_list,
#main .m_inner .promise .pr_inner .pr_container .pr_1 .pr_text .pr_htext .ico_list2,
#main .m_inner .promise .pr_inner .pr_container .pr_1 .pr_text .pr_htext .ico_list3,
#main .m_inner .promise .pr_inner .pr_container .pr_1 .pr_text .pr_htext .ico_list4 {
  width: 50px;
  height: 50px;
  margin: 0px 20px 20px 0px;
}

#main .m_inner .promise .pr_inner .pr_container .pr_1 .pr_text .pr_htext .ico_list {
  background: url(../images/icon/ico_list01_50x50.svg);
}

#main .m_inner .promise .pr_inner .pr_container .pr_1 .pr_text .pr_htext .ico_list2 {
  background: url(../images/icon/ico_list02_50x50.svg);
}

#main .m_inner .promise .pr_inner .pr_container .pr_1 .pr_text .pr_htext .ico_list3 {
  background: url(../images/icon/ico_list03_50x50.svg);
}

#main .m_inner .promise .pr_inner .pr_container .pr_1 .pr_text .pr_htext .ico_list4 {
  background: url(../images/icon/ico_list04_50x50.svg);
}

/* 매장찾기 */
#main .m_inner .findstore {
  max-width: 1600px;
  margin: 50px auto 0 auto;
  text-align: center;
}

#main .m_inner .findstore .fs_btn {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0px 30px 0px;
}

#main .m_inner .findstore .fs_btn .ico_find,
#main .m_inner .findstore .fs_btn .ico_apply {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 70px;
  gap: 14px;
}

#main .m_inner .findstore .fs_btn .ico_find a,
#main .m_inner .findstore .fs_btn .ico_apply a {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

#main .m_inner .findstore .fs_btn .ico_find {
  background-color: #FFCE32;
  border-radius: 9999px 0px 0px 9999px;
}

#main .m_inner .findstore .fs_btn .ico_find::before {
  content: "";
  width: 24px;
  height: 30px;
  background: url(../images/icon/ico_pin_24x30.png);
}

#main .m_inner .findstore .fs_btn .ico_find a {
  color: #111111;
}

#main .m_inner .findstore .fs_btn .ico_apply {
  background-color: #009223;
  border-radius: 0px 9999px 9999px 0px;
}

#main .m_inner .findstore .fs_btn .ico_apply::before {
  content: "";
  width: 34px;
  height: 30px;
  background: url(../images/icon/ico_book_34x30.png);
}

#main .m_inner .findstore .fs_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  gap: 10px;
}

#main .m_inner .findstore .fs_title p {
  font-size: 16px;
  font-weight: 500;
}

#main .m_inner .findstore .store_list .flex_container {
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

#main .m_inner .findstore .store_list .flex_container .flex_item {
  margin: 5px;
  flex-basis: calc(25% - 10px);
  max-width: 250px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  background-color: #F7FAFE;
  cursor: pointer;
}

#main .m_inner .findstore .store_list .flex_container .flex_item p:nth-child(1) {
  font-size: 16px;
  font-weight: 500;
}

#main .m_inner .findstore .store_list .flex_container .flex_item p:nth-child(2) {
  font-size: 19px;
  font-weight: 500;
  color: #292929;
}

#main .m_inner .findstore .store_list .flex_container .flex_item:nth-child(-n+3) .item_day {
  background-color: #FFCE32;
  color: #009223;
}

#main .m_inner .findstore .store_list .flex_container .flex_item .item_day {
  display: flex;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  font-weight: 700;
  background-color: #009223;
  color: #ffffff;
  align-items: center;
}

#main .m_inner .findstore .store_list .flex_container .flex_item .item_day span {
  color: #FFCE32;
}

#main .m_inner .findstore .store_list .flex_container .flex_item .item_addrees {
  margin-bottom: 20px;
}

#main .m_inner .findstore .store_list .flex_container .flex_item .item_day {
  height: 50px;
}

#main .m_inner .findstore .store_list .flex_container .flex_item p:nth-child(1) {
  font-size: 16px;
}

#main .m_inner .findstore .store_list .flex_container .flex_item p:nth-child(2) {
  color: #292929;
}