@charset "UTF-8";

nav ul li.main_menu:nth-child(2)>a {
  color: #009223;
}

.swiper {
  width: 1340px;
  overflow: visible !important;
  padding-top: 10px;
}

.custom_bullet.active {
  background-color: #009223;
  border: 4px solid #009223;
}

.custom_bullet.afteractive {
  border: 0;
  background-color: #009223;
}

.order_pagination {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 70px;
  gap: 60px;
  margin: 40px 0px;
}

.custom_bullet {
  width: 70px;
  height: 70px;
  padding: 17px 0 19px 0;
  background-color: #ffffff;
  border: 4px solid #dddddd;
  border-radius: 9999px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  color: #dddddd;
  font-weight: 900;
  transition: 0.5s;
  cursor: pointer;
}

.custom_bullet span:nth-child(1) {
  font-size: 14px;
}

.custom_bullet span:nth-child(2) {
  font-size: 24px;
}

.slide_txt>div {
  display: none;
  /* 모든 step 박스 숨기기 */
}

.slide_txt>div.active {
  display: block;
  /* active 클래스가 있는 step 박스만 보이기 */
}

.swiper-slide-next img {
  transform: scale(0.7);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.swiper-slide-active img {
  transform: scale(1);
  transition: transform 0.5s ease, opacity 0.3s ease;
}

#order_btn.active {
  background-color: #009223;
  color: #ffffff;
}

.order {
  background-color: #f6f6f6;
  position: relative;
  margin-bottom: 100px;
}

.order .slide_txt {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  padding: 30px;
  position: absolute;
  width: 370px;
  height: 376px;
  right: 490px;
  top: 170px;
  color: #292929;
  z-index: 130;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.order .slide_txt p:nth-child(1) {
  font-weight: 900;
  font-size: 17px;
  color: #009223;
}

.order .slide_txt p:nth-child(2) {
  position: relative;
  font-size: 28px;
  font-weight: 500;
  color: #292929;
}

.order .slide_txt p:nth-child(2)::after {
  position: absolute;
  bottom: -30px;
  left: 0;
  content: "";
  width: 40px;
  height: 5px;
  background-color: #ffce32;
}

.order .slide_txt p:nth-child(3) {
  color: #666666;
  margin-top: 38px;
}

.order .slide_txt .step_btn {
  position: absolute;
  bottom: 30px;
}

.order .slide_txt .step_btn a {
  border: 2px solid #bbbbbb;
  border-radius: 9999px;
  padding: 8px 14px;
  color: #a1a1a1;
  margin-right: 15px;
  font-weight: 500;
  transition: 0.2s;
}

.order .slide_txt .step_btn a:hover {
  color: #ffffff;
  background-color: #292929;
  border: 2px solid #292929;
}

.order .slide_txt .step_btn a:hover::after {
  background: url(../images/icon/ico_searchbar_white.png) no-repeat center;
}

.order .slide_txt .step_btn a::after {
  content: "";
  display: inline-block;
  background: url(../images/icon/ico_searchbar_gray.png) no-repeat center;
  background-size: cover;
  width: 16px;
  height: 16px;
  position: relative;
  top: 1px;
  margin-left: 5px;
}

.order .slide_txt span {
  font-size: 14px;
}

.order .nextprev_btn {
  width: 1600px;
  position: absolute;
  left: 160px;
  bottom: 240px;
}

.order .nextprev_btn .orderswiper_next,
.order .nextprev_btn .orderswiper_prev {
  position: absolute;
  border-radius: 9999px;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.order .nextprev_btn .orderswiper_prev {
  left: 0;
}

.order .nextprev_btn .orderswiper_next {
  right: 0;
}

.order .nextprev_btn .orderswiper_next:hover,
.order .nextprev_btn .orderswiper_prev:hover {
  background-color: #ffce32;
}

.order .nextprev_btn .orderswiper_next:hover::after,
.order .nextprev_btn .orderswiper_prev:hover::after {
  border-top: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
}

.order .nextprev_btn .orderswiper_next::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-top: 5px solid #dbdbdb;
  border-right: 5px solid #dbdbdb;
  transform: rotate(45deg);
  z-index: 999;
  left: 10px;
}

.order .nextprev_btn .orderswiper_prev::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-top: 5px solid #dbdbdb;
  border-right: 5px solid #dbdbdb;
  transform: rotate(225deg);
  z-index: 999;
  right: 10px;
}

.swiper .swiper-slide {
  display: flex;
}

main .touse_title {
  text-align: center;
  color: #292929;
  margin-top: 95px;
}

main .touse_title h2 {
  font-size: 40px;
  font-weight: 500;
}

main .touse_title p {
  font-weight: 500;
}

main .touse_tab {
  display: flex;
  margin: 0 auto;
  width: 1340px;
  height: 70px;
  margin-top: 55px;
}

main .touse_tab button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #cbcaca;
  border: 1px solid #dddddd;
}

#tip_btn.active {
  background-color: #009223;
  color: #ffffff;
}

.tip {
  display: none;
  background-color: #f6f6f6;
}

.tip01 {
  margin-bottom: 300px;
}

.tip01 .tip_bg {
  background-image: url(../images/sub/bg_order_tip01.jpg);
  background-size: cover;
  width: 100%;
  height: 510px;
}

.tip01 .tip_inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.tip01 .tip_inner .tip_txt {
  padding-top: 90px;
  color: #292929;
}

.tip01 .tip_inner .tip_txt .tip_txt_title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff8201;
  width: 300px;
  height: 45px;
  border-radius: 9999px;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
}

.tip01 .tip_inner .tip_txt .tip_txt_title span {
  font-weight: 700;
}

.tip01 .tip_inner .tip_txt p:nth-child(2) {
  margin-top: 30px;
  font-size: 54px;
  font-weight: 700;
  color: #ffffff;
}

.tip01 .tip_inner .tip_txt p:nth-child(3) {
  margin-top: 10px;
  color: #ffffff;
}

.tip01 .tip_inner .tip_wrap_img {
  position: relative;
  transition: all 1s ease;
}

.tip01 .tip_inner .tip_wrap_img img {
  position: absolute;
  right: -120px;
  top: -248px;
}

.tip02 {
  margin-bottom: 300px;
}

.tip02 .tip_bg {
  background-image: url(../images/sub/bg_order_tip02.jpg);
  background-size: cover;
  width: 100%;
  height: 510px;
}

.tip02 .tip_inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.tip02 .tip_inner .tip_txt {
  padding-top: 90px;
  color: #292929;
}

.tip02 .tip_inner .tip_txt .tip_txt_title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff8201;
  width: 230px;
  height: 45px;
  border-radius: 9999px;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
}

.tip02 .tip_inner .tip_txt .tip_txt_title span {
  font-weight: 700;
}

.tip02 .tip_inner .tip_txt p:nth-child(2) {
  margin-top: 30px;
  font-size: 54px;
  font-weight: 700;
  color: #ffffff;
}

.tip02 .tip_inner .tip_txt p:nth-child(3) {
  margin-top: 10px;
  color: #ffffff;
}

.tip02 .tip_inner .tip_wrap_img {
  position: relative;
  transition: all 1s ease;
}

.tip02 .tip_inner .tip_wrap_img img {
  position: absolute;
  right: -120px;
  top: -248px;
}

.tip03 {
  padding-bottom: 400px;
  background-color: #f6f6f6;
}

.tip03 .tip_bg {
  background-image: url(../images/sub/bg_order_tip03.jpg);
  background-size: cover;
  width: 100%;
  height: 510px;
}

.tip03 .tip_inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.tip03 .tip_inner .tip_txt {
  padding-top: 90px;
  color: #292929;
}

.tip03 .tip_inner .tip_txt .tip_txt_title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff8201;
  width: 230px;
  height: 45px;
  border-radius: 9999px;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
}

.tip03 .tip_inner .tip_txt .tip_txt_title span {
  font-weight: 700;
}

.tip03 .tip_inner .tip_txt p:nth-child(2) {
  margin-top: 30px;
  font-size: 54px;
  font-weight: 700;
  color: #ffffff;
}

.tip03 .tip_inner .tip_txt p:nth-child(3) {
  margin-top: 10px;
  color: #ffffff;
}

.tip03 .tip_inner .tip_wrap_img {
  position: relative;
  transition: all 1s ease;
}

.tip03 .tip_inner .tip_wrap_img img {
  position: absolute;
  right: -120px;
  top: -248px;
}

.tip_inner {
  position: relative;
}

.tip_inner .tip_info {
  padding: 30px;
  position: absolute;
  background-color: #ffffff;
  width: 1200px;
  height: 370px;
  bottom: -300px;
  text-align: center;
}

.tip_inner .tip_info>p {
  color: #292929;
  font-size: 20px;
  font-weight: 700;
}

.tip_inner .tip_info>p span {
  font-weight: 900;
  color: #ff8201;
}

.tip_inner .tip_info .info_item {
  margin-top: 22px;
  display: flex;
  justify-content: space-around;
}

.tip_inner .tip_info .info_item .ingredient p:nth-child(2) {
  font-size: 16px;
  font-weight: 900;
  padding-bottom: 10px;
}

.tip_wrap_img.active {
  transform: translateX(-10%);
}

#footer {
  margin-top: 0px;
}